.principal--secao {
    width: 75%;
    margin: 0 auto;
    padding: 4rem 0 3rem 0;
    display: flex;
    justify-content: space-between;
}

.artigo--video {
    width: 60%;
}

.principal--titulo {
    font-size: 1.5rem;
    font-weight: 700;
}

.principal--texto {
    margin: 1rem 0;
    color: var(--cinza-texto);
}

/* Formulário */

.artigo--form {
    width: 40%;
    background-color: #FFFFFF;
    padding: 2rem 1rem;
}

.form--titulo {
    font-size: 1.7rem;
    font-weight: 700;
}

.form--subtitulo {
    margin: 1rem 0;
    color: var(--cinza-texto);
}

.contato--form label {
    display: none;
}

.contato--form input {
    display: block;
    width: 95%;
    height: 2.5rem;
    margin: 1rem 0;
    padding: 0.2rem 0 0.2rem 1rem;
    border: 1px solid #9c9c9c;
    border-radius: 5px;
    background-color: #dddddd;
}

.contato--form .botao--submit {
    width: 100%;
    background-color: var(--cor-botao);
    color: #FFFFFF;
}

.botao--submit:hover {
    cursor: pointer;
}

.form--texto {
    margin-top: 1.5rem;
    font-size: 1rem;
    color: var(--cinza-texto);
}

/* Rodapé */

footer {
    color: var(--cinza-texto);
    width: 75%;
    margin: 0 auto;
    padding-bottom: 2rem;
}
