@import url(cabecalho.css);
@import url(main.css);

:root {
    --fonte-principal: 'Roboto', sans-serif;
    --cinza-texto: #aaaaaa;
    --cor-botao: #15833a;
    --cor-fundo: #EEEEEE;
}

body {
    background-color: var(--cor-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
}