@import url(cabecalho.css);
@import url(main.css);

:root {
    --fonte-principal: 'Roboto', sans-serif;
    --cinza-texto: #CCCCCC;
    --cor-botao: #22aa4f;
    --cor-fundo: #DDDDDD;
}

body {
    font-family: var(--fonte-principal);
    font-size: 16px;
}