@import url(cabecalho.css);
@import url(main.css);

:root {
    --fonte-principal: 'Roboto', sans-serif;
    --cinza-texto: #666666;
    --cor-botao: #15833a;
    --cor-fundo: linear-gradient(to top, #c0c0c0, #faf9f9);
}

body {
    background-image: var(--cor-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
}